<%- require('./layout/header.ejs')({item: edu}) -%>
<div class="flex-row mt30 pl50 pr50 not-for-print only-for-pc">
    <div class="edu__item pr100 flex-row">
        <div class="mr100">
            <ul class="resume__item-text list-style">
                <% edu.list.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
        <img src="<%= require("./imgs/QR-code.png") %>" alt="二维码">
    </div>
    <div class="edu__item split-line flex-row pl100">
        <img src="<%= require("./imgs/QR-code.png") %>" alt="二维码">
        <div class="ml100">
            <ul class="resume__item-text list-style">
                <% edu.list.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<div class="flex-column mt30 not-for-print only-for-print show-for-mb">
    <div class="edu__item pb30 flex-row">
        <img src="<%= require("./imgs/QR-code.png") %>" alt="二维码">
        <div class="ml30">
            <ul class="resume__item-text list-style">
                <% edu.list.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="edu__item pt30 flex-row">
        <img src="<%= require("./imgs/QR-code.png") %>" alt="二维码">
        <div class="ml30">
            <ul class="resume__item-text list-style">
                <% edu.list.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<div class="flex-row flex-content-between mt10 only-for-print">
    <div class="resume__item-desc">软件工程</div>
    <div class="resume__item-desc">2015.9-2019.6</div>
    <div class="resume__item-desc">重庆理工大学</div>
</div>
