<%- require('./layout/header.ejs')({item: edu}) -%>
<div class="flex-row flex-content-center mt30 pl50 pr50 not-for-print only-for-pc">
    <div class="edu__item pr100 flex-row">
        <div class="mr100">
            <ul class="resume__item-text list-style">
                <% edu.list[0].descList.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
        <img src="<%= edu.list[0].logoUrl %>" alt="<%= edu.list[0].name %>">
    </div>
    <div class="edu__item split-line flex-row pl100">
        <img src="<%= edu.list[1].logoUrl %>" alt="<%= edu.list[0].name %>">
        <div class="ml100">
            <ul class="resume__item-text list-style">
                <% edu.list[1].descList.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<div class="flex-column mt30 not-for-print only-for-print show-for-mb">
    <div class="edu__item pb30 flex-row">
        <img src="<%= edu.list[0].logoUrl %>" alt="<%= edu.list[0].name %>">
        <div class="ml30">
            <ul class="resume__item-text list-style">
                <% edu.list[0].descList.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="edu__item pt30 flex-row">
        <img src="<%= edu.list[1].logoUrl %>" alt="<%= edu.list[0].name %>">
        <div class="ml30">
            <ul class="resume__item-text list-style">
                <% edu.list[1].descList.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<div class="flex-column mt10 only-for-print">
    <% edu.list.forEach(function (item)  { %>
        <div class="flex-row flex-content-between">
            <div class="resume__item-desc"><%= item.major %></div>
            <div class="resume__item-desc"><%= item.term %></div>
            <div class="resume__item-desc"><%= item.name %></div>
        </div>
    <% }) %>
</div>
