<%- require('./layout/header.ejs')({item: edu}) -%>
<!-- 桌面设备 -->
<div class="flex-row flex-content-between mt30 not-for-print not-for-mb">
    <% edu.list.forEach(function (item)  { %>
        <div class="edu-item flex-row">
            <img src="<%= item.logoUrl %>" alt="<%= item.name %>">
            <div class="flex-column flex-full ml20">
                <div class="flex-row flex-content-between flex-items-center not-for-mb">
                    <div class="edu-item__title"><%= item.name %></div>
                    <div class="edu-item__desc"><%= item.term %></div>
                </div>
                <div class="flex-row mt10 not-for-pc">
                    <div class="resume-item__text">学校：</div>
                    <div class="resume-item__text"><%= item.name %></div>
                </div>
                <div class="flex-row mt10">
                    <div class="resume-item__text">学历：</div>
                    <div class="resume-item__text"><%= item.education %></div>
                </div>
                <div class="flex-row mt10">
                    <div class="resume-item__text">专业：</div>
                    <div class="resume-item__text"><%= item.major %></div>
                </div>
                <div class="flex-row mt10 not-for-pc">
                    <div class="resume-item__text">就读时间：</div>
                    <div class="resume-item__text"><%= item.term %></div>
                </div>
                <div class="flex-row mt10 not-for-mb">
                    <div class="resume-item__text">主修课程：</div>
                    <div class="flex-row resume-item__text flex-full">
                        <% item.descList.forEach(function (item)  { %>
                            <li class="resume-item__text"><%= item %></li>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
<!-- 移动设备 -->
<div class="flex-row flex-content-between not-for-print not-for-pc">
    <% edu.list.forEach(function (item)  { %>
        <div class="edu-item flex-row flex-items-center flex-full pt10">
            <img src="<%= item.logoUrl %>" alt="<%= item.name %>">
            <div class="flex-column flex-full ml20">
                <div class="flex-row flex-items-center flex-content-between flex-items-center not-for-mb">
                    <div class="edu-item__title"><%= item.name %></div>
                    <div class="edu-item__desc"><%= item.term %></div>
                </div>
                <div class="flex-row flex-items-center mt10 not-for-pc">
                    <div class="resume-item__text">学校：</div>
                    <div class="resume-item__text"><%= item.name %></div>
                </div>
                <div class="flex-row flex-items-center mt10">
                    <div class="resume-item__text">学历：</div>
                    <div class="resume-item__text"><%= item.education %></div>
                </div>
                <div class="flex-row flex-items-center mt10">
                    <div class="resume-item__text">专业：</div>
                    <div class="resume-item__text"><%= item.major %></div>
                </div>
                <div class="flex-row flex-items-center mt10 not-for-pc">
                    <div class="resume-item__text">就读时间：</div>
                    <div class="resume-item__text"><%= item.term %></div>
                </div>
                <div class="flex-row flex-items-center mt10 not-for-mb">
                    <div class="resume-item__text">主修课程：</div>
                    <div class="flex-row resume-item__text flex-full">
                        <% item.descList.forEach(function (item)  { %>
                            <li class="resume-item__text"><%= item %></li>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
<!-- 打印设备 -->
<div class="flex-column mt10 not-for-pc not-for-mb">
    <% edu.list.forEach(function (item)  { %>
        <div class="flex-row flex-content-between">
            <div class="resume-item__desc"><%= item.major %></div>
            <div class="resume-item__desc"><%= item.term %></div>
            <div class="resume-item__desc"><%= item.education %></div>
            <div class="resume-item__desc"><%= item.name %></div>
        </div>
    <% }) %>
    <% if (edu.cName) { %>
        <div class="resume-item__text mt10">
            <%- require('./layout/content.ejs')({cName: edu.cName}) -%>
        </div>
    <% } %>
</div>
