<%- require('./layout/header.ejs')({item: edu}) -%>
<!-- 桌面设备 -->
<div class="flex-row flex-content-center mt30 pl50 pr50 not-for-print not-for-mb">
    <div class="edu-item pr100 flex-row">
        <div class="mr100">
            <ul class="resume-item__text list-style">
                <% edu.list[0].descList.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
        <img src="<%= edu.list[0].logoUrl %>" alt="<%= edu.list[0].name %>">
    </div>
    <div class="edu-item split-line flex-row pl100">
        <img src="<%= edu.list[1].logoUrl %>" alt="<%= edu.list[0].name %>">
        <div class="ml100">
            <ul class="resume-item__text list-style">
                <% edu.list[1].descList.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<!--移动设备-->
<div class="flex-column mt30 not-for-print not-for-pc">
    <div class="edu-item pb30 flex-row">
        <img src="<%= edu.list[0].logoUrl %>" alt="<%= edu.list[0].name %>">
        <div class="ml30">
            <ul class="resume-item__text list-style">
                <% edu.list[0].descList.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="edu-item pt30 flex-row">
        <img src="<%= edu.list[1].logoUrl %>" alt="<%= edu.list[0].name %>">
        <div class="ml30">
            <ul class="resume-item__text list-style">
                <% edu.list[1].descList.forEach(function (item)  { %>
                    <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<!-- 打印设备 -->
<div class="flex-column mt10 not-for-pc not-for-mb">
    <% edu.list.forEach(function (item)  { %>
        <div class="flex-row flex-content-between">
            <div class="resume-item__desc"><%= item.major %></div>
            <div class="resume-item__desc"><%= item.term %></div>
            <div class="resume-item__desc"><%= item.name %></div>
        </div>
    <% }) %>
</div>
