<!-- 头部区域 -->
<!-- 桌面设备 -->
<div class="flex-row flex-content-between flex-wrap not-for-print not-for-mb">
    <div class="resume-header-item flex-row flex-items-end">
        <div class="resume-header__name"><%= header.name %></div>
        <div class="resume-header__desc ml20"><%= header.position %></div>
    </div>
    <div class="resume-header-item flex-row">
        <div class="resume-header__desc flex-row flex-items-end">
            <svg t="1592117077274" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="17895" width="26" height="26">
                <path d="M702.64 879.01c-10.11 0-20.23-1.01-30.17-3.03-9.74-1.99-16.03-11.49-14.04-21.23 1.99-9.74 11.49-16.03 21.23-14.04 18.78 3.83 38.37 2.89 56.68-2.7a113.276 113.276 0 0 0 49.4-30.75l8.79-9.37c23.42-24.95 22.18-64.3-2.78-87.72l-73.58-69.07c-12.02-11.29-27.82-17.22-44.43-16.68-16.63 0.53-32.01 7.44-43.29 19.46l-13.64 14.53c-9.81 10.45-17.28 22.55-22.21 35.95a18.01 18.01 0 0 1-27.34 8.46c-29.67-21.12-58.99-46.02-89.62-76.11-63.39-62.25-102.49-141.65-129.47-203.86a17.971 17.971 0 0 1 0.23-14.83c2.2-4.68 6.31-8.19 11.28-9.62 14.62-4.23 28.05-11.27 39.9-20.93l9.96-8.11c26.53-21.61 30.54-60.78 8.93-87.31l-63.73-78.25c-10.41-12.79-25.26-20.76-41.82-22.45-16.55-1.69-32.71 3.11-45.5 13.52l-15.46 12.59c-25.52 20.79-39.78 51.69-39.18 84.88l0.4 4.08c5.74 56.42 22.15 121.62 46.18 183.53 26.82 69.1 60.94 128.45 98.67 171.65 12.22 13.99 28.88 31.14 45.71 47.05 7.22 6.83 7.54 18.22 0.72 25.45-6.83 7.23-18.22 7.54-25.45 0.71-17.63-16.67-35.16-34.72-48.1-49.53-89.71-102.75-142.48-266.57-153.55-375.31l-0.48-4.82c-0.04-0.45-0.07-0.89-0.08-1.34-1.06-44.64 18.05-86.3 52.43-114.3l15.46-12.59c20.24-16.49 45.77-24.09 71.89-21.42 26.12 2.67 49.58 15.29 66.07 35.53l63.73 78.25c34.15 41.93 27.82 103.82-14.11 137.96l-9.96 8.11c-10.28 8.38-21.47 15.26-33.41 20.58C414.17 482 449.56 548.65 502.86 601c23.22 22.81 45.58 42.44 67.86 59.57 5.5-9.64 12.13-18.61 19.83-26.82l13.64-14.53c17.87-19.03 42.16-29.97 68.4-30.8 26.28-0.84 51.18 8.55 70.21 26.42l73.58 69.07c39.42 37.01 41.39 99.19 4.38 138.61l-8.79 9.37a149.334 149.334 0 0 1-65.12 40.54 151.66 151.66 0 0 1-44.21 6.58z"
                      fill="#353535" p-id="17896"></path>
                <path d="M474.44 793.72c-2.85 0-5.75-0.68-8.44-2.12-12.03-6.41-25.78-15.95-40.85-28.37-7.67-6.32-8.77-17.66-2.45-25.34 6.32-7.67 17.66-8.77 25.34-2.45 13.23 10.89 24.97 19.1 34.89 24.38 8.77 4.67 12.1 15.57 7.43 24.35a18.041 18.041 0 0 1-15.92 9.55zM686 878.33c-1.3 0-2.62-0.14-3.95-0.44-36.39-8.15-76.24-21.24-115.23-37.86-9.15-3.9-13.4-14.47-9.5-23.62 3.9-9.15 14.47-13.4 23.62-9.5 37.01 15.77 74.69 28.17 108.98 35.85 9.7 2.17 15.8 11.8 13.63 21.5-1.88 8.38-9.31 14.07-17.55 14.07z"
                      fill="#353535" p-id="17897"></path>
            </svg>
            <span class="ml10"><%= header.telNum %></span>
        </div>
        <div class="resume-header__desc flex-row flex-items-end ml50">
            <svg t="1592117028658" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="17650" width="26" height="26">
                <path d="M204.8 842.6496a108.8 108.8 0 0 1-108.8-108.8V290.1504c0-60.1088 48.6912-108.8 108.8-108.8h614.4c60.1088 0 108.8 48.6912 108.8 108.8v443.6992A108.8 108.8 0 0 1 819.2 842.6496H204.8z m0-64h614.4a44.8 44.8 0 0 0 44.8-44.8V290.1504A44.8 44.8 0 0 0 819.2 245.3504H204.8a44.8 44.8 0 0 0-44.8 44.8v443.6992c0 24.7808 20.0704 44.8 44.8 44.8z"
                      fill="#5A5A68" p-id="17651"></path>
                <path d="M139.5712 387.1744a32 32 0 1 1 28.0576-57.5488l335.9744 163.9936c5.2736 2.56 11.52 2.56 16.7936 0l335.9744-163.9936a32 32 0 1 1 28.0576 57.5488l-335.9232 163.9424c-23.04 11.264-49.9712 11.264-73.0112 0L139.5712 387.1744z"
                      fill="#5A5A68" p-id="17652"></path>
            </svg>
            <span class="ml10"><%= header.email %></span>
        </div>
        <div class="resume-header__desc ml50">
            <a href="<%= header.blogUrl %>" class="resume__button">个人主页</a>
        </div>
    </div>
</div>
<!-- 移动设备 -->
<div class="flex-column not-for-print not-for-pc">
    <div class="resume-header-item flex-row  flex-content-between flex-items-center">
        <div class="resume-header-item flex-row flex-items-center">
            <img src="<%= header.headIcon %>" alt="头像" class="user-head-icon">
            <div class="flex-column flex-items-center ml20">
                <div class="resume-header__name"><%= header.name %></div>
                <div class="resume-header__desc resume-header__position"><%= header.position %></div>
            </div>
        </div>
        <div class="resume-header__desc ml50">
            <a href="<%= header.blogUrl %>" class="resume__button">个人主页</a>
        </div>
    </div>
    <div class="resume-header-item flex-row flex-content-between">
        <div class="resume-header__desc flex-row flex-items-end">
            <svg t="1592117077274" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="17895" width="18" height="18">
                <path d="M702.64 879.01c-10.11 0-20.23-1.01-30.17-3.03-9.74-1.99-16.03-11.49-14.04-21.23 1.99-9.74 11.49-16.03 21.23-14.04 18.78 3.83 38.37 2.89 56.68-2.7a113.276 113.276 0 0 0 49.4-30.75l8.79-9.37c23.42-24.95 22.18-64.3-2.78-87.72l-73.58-69.07c-12.02-11.29-27.82-17.22-44.43-16.68-16.63 0.53-32.01 7.44-43.29 19.46l-13.64 14.53c-9.81 10.45-17.28 22.55-22.21 35.95a18.01 18.01 0 0 1-27.34 8.46c-29.67-21.12-58.99-46.02-89.62-76.11-63.39-62.25-102.49-141.65-129.47-203.86a17.971 17.971 0 0 1 0.23-14.83c2.2-4.68 6.31-8.19 11.28-9.62 14.62-4.23 28.05-11.27 39.9-20.93l9.96-8.11c26.53-21.61 30.54-60.78 8.93-87.31l-63.73-78.25c-10.41-12.79-25.26-20.76-41.82-22.45-16.55-1.69-32.71 3.11-45.5 13.52l-15.46 12.59c-25.52 20.79-39.78 51.69-39.18 84.88l0.4 4.08c5.74 56.42 22.15 121.62 46.18 183.53 26.82 69.1 60.94 128.45 98.67 171.65 12.22 13.99 28.88 31.14 45.71 47.05 7.22 6.83 7.54 18.22 0.72 25.45-6.83 7.23-18.22 7.54-25.45 0.71-17.63-16.67-35.16-34.72-48.1-49.53-89.71-102.75-142.48-266.57-153.55-375.31l-0.48-4.82c-0.04-0.45-0.07-0.89-0.08-1.34-1.06-44.64 18.05-86.3 52.43-114.3l15.46-12.59c20.24-16.49 45.77-24.09 71.89-21.42 26.12 2.67 49.58 15.29 66.07 35.53l63.73 78.25c34.15 41.93 27.82 103.82-14.11 137.96l-9.96 8.11c-10.28 8.38-21.47 15.26-33.41 20.58C414.17 482 449.56 548.65 502.86 601c23.22 22.81 45.58 42.44 67.86 59.57 5.5-9.64 12.13-18.61 19.83-26.82l13.64-14.53c17.87-19.03 42.16-29.97 68.4-30.8 26.28-0.84 51.18 8.55 70.21 26.42l73.58 69.07c39.42 37.01 41.39 99.19 4.38 138.61l-8.79 9.37a149.334 149.334 0 0 1-65.12 40.54 151.66 151.66 0 0 1-44.21 6.58z"
                      fill="#353535" p-id="17896"></path>
                <path d="M474.44 793.72c-2.85 0-5.75-0.68-8.44-2.12-12.03-6.41-25.78-15.95-40.85-28.37-7.67-6.32-8.77-17.66-2.45-25.34 6.32-7.67 17.66-8.77 25.34-2.45 13.23 10.89 24.97 19.1 34.89 24.38 8.77 4.67 12.1 15.57 7.43 24.35a18.041 18.041 0 0 1-15.92 9.55zM686 878.33c-1.3 0-2.62-0.14-3.95-0.44-36.39-8.15-76.24-21.24-115.23-37.86-9.15-3.9-13.4-14.47-9.5-23.62 3.9-9.15 14.47-13.4 23.62-9.5 37.01 15.77 74.69 28.17 108.98 35.85 9.7 2.17 15.8 11.8 13.63 21.5-1.88 8.38-9.31 14.07-17.55 14.07z"
                      fill="#353535" p-id="17897"></path>
            </svg>
            <span class="ml10"><%= header.telNum %></span>
        </div>
        <div class="resume-header__desc flex-row flex-items-end">
            <svg t="1592117028658" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="17650" width="18" height="18">
                <path d="M204.8 842.6496a108.8 108.8 0 0 1-108.8-108.8V290.1504c0-60.1088 48.6912-108.8 108.8-108.8h614.4c60.1088 0 108.8 48.6912 108.8 108.8v443.6992A108.8 108.8 0 0 1 819.2 842.6496H204.8z m0-64h614.4a44.8 44.8 0 0 0 44.8-44.8V290.1504A44.8 44.8 0 0 0 819.2 245.3504H204.8a44.8 44.8 0 0 0-44.8 44.8v443.6992c0 24.7808 20.0704 44.8 44.8 44.8z"
                      fill="#5A5A68" p-id="17651"></path>
                <path d="M139.5712 387.1744a32 32 0 1 1 28.0576-57.5488l335.9744 163.9936c5.2736 2.56 11.52 2.56 16.7936 0l335.9744-163.9936a32 32 0 1 1 28.0576 57.5488l-335.9232 163.9424c-23.04 11.264-49.9712 11.264-73.0112 0L139.5712 387.1744z"
                      fill="#5A5A68" p-id="17652"></path>
            </svg>
            <span class="ml10"><%= header.email %></span>
        </div>
        <div class="resume-header__desc flex-row flex-items-end">
            <svg t="1592401810590" class="icon" viewBox="0 0 1029 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="10335" width="18" height="18">
                <path d="M501.376 347.61728c27.81184 0 46.49472-18.67264 46.49472-46.464 0-27.6992-18.68288-46.30528-46.49472-46.30528-26.63936 0-55.38816 17.70496-55.38816 46.30528 0.03072 28.6976 28.7744 46.464 55.38816 46.464zM255.64672 254.848c-26.7008 0-55.52128 17.70496-55.52128 46.30528 0 28.6976 28.82048 46.464 55.52128 46.464 27.73504 0 46.36672-18.67264 46.36672-46.464-0.03072-27.6992-18.6624-46.30528-46.36672-46.30528z"
                      fill="#333333" p-id="10336"></path>
                <path d="M1029.12 626.10944c0-67.58912-30.18752-132.97152-84.99712-184.09984-53.76512-50.15552-125.33248-81.26976-201.78432-87.7824a15.3856 15.3856 0 0 0-0.31744-3.50208c-31.95392-148.97664-192.02048-261.31968-372.33152-261.31968C165.84704 89.40544 0 231.71072 0 406.62528c0 93.2608 47.40608 177.61792 137.1136 244.06016l-30.81216 92.61056a18.62144 18.62144 0 0 0 5.46816 19.89632 18.90304 18.90304 0 0 0 20.48 2.55488l117.0688-58.57792 14.04416 2.84672c36.28544 7.45472 67.62496 13.89568 106.33728 13.89568 11.23328 0 22.80448-0.50176 34.39104-1.4848a17.9968 17.9968 0 0 0 9.95328-4.00896c45.31712 108.48768 164.64384 181.10976 298.34752 181.10976 34.21696 0 68.14208-7.71584 102.75328-16.37888l89.96864 49.18272c2.75456 1.50528 5.8368 2.29888 8.90368 2.29888 4.24448 0 8.39168-1.46432 11.65824-4.12672a18.39104 18.39104 0 0 0 6.08256-19.74272l-22.70208-75.4944c77.45024-61.66016 120.064-135.87968 120.064-209.15712z m-159.25248 207.55456l13.33248 44.35456-56.62208-30.98112a18.47296 18.47296 0 0 0-8.91904-2.304c-1.59232 0-3.13344 0.2048-4.5312 0.59392-33.1008 8.36096-67.32288 17.00352-100.72064 17.00352-154.48064 0-280.16128-105.984-280.16128-236.25728 0-130.2528 125.68064-236.22656 280.16128-236.22656 151.552 0 279.58272 108.17536 279.58272 236.22656 0 64.86016-41.02656 131.42016-115.52256 187.42272a18.67264 18.67264 0 0 0-6.59968 20.16768z m-500.14208-146.91328c-35.35872 0-64.96768-6.11328-99.26656-13.19424l-20.0704-4.06016a18.2016 18.2016 0 0 0-11.94496 1.59232l-82.7648 41.43104 20.99712-63.06816a18.4832 18.4832 0 0 0-6.97856-21.07904C81.72032 567.05536 37.12 492.45184 37.12 406.62528c0-154.4448 149.19168-280.09984 332.57472-280.09984 160.3584 0 303.5392 97.16224 334.6432 226.51904-170.8032 3.712-309.23264 125.63456-309.23264 273.06496 0 19.20512 2.6368 39.13216 7.83872 59.27936a14.74048 14.74048 0 0 0-2.01216 0.03072c-10.25536 0.88064-20.75648 1.3312-31.2064 1.3312z"
                      fill="#333333" p-id="10337"></path>
                <path d="M615.552 509.40928c-19.02592 0-37.69344 18.71872-37.69344 37.79072 0 19.01056 18.66752 37.66272 37.69344 37.66272 28.66176 0 46.40256-19.54816 46.40256-37.66272-0.00512-18.176-17.74592-37.79072-46.40256-37.79072zM808.576 509.40928c-18.8928 0-37.44256 18.71872-37.44256 37.79072 0 19.01056 18.54464 37.66272 37.44256 37.66272 28.8 0 46.62272-19.54816 46.62272-37.66272 0-18.176-17.82272-37.79072-46.62272-37.79072z"
                      fill="#333333" p-id="10338"></path>
            </svg>
            <span class="ml10"><%= header.wxChat %></span>
        </div>
    </div>
</div>
<!-- 打印设备 -->
<div class="flex-row flex-content-between flex-items-center not-for-pc not-for-mb">
    <img src="<%= header.headIcon %>" alt="头像" class="user-head-icon">
    <div class="flex-column flex-items-center">
        <div class="resume-header__name"><%= header.name %></div>
        <div class="resume-header__desc resume-header__position"><%= header.position %></div>
    </div>
    <div class="flex-column flex-content-between  mt10">
        <div class="resume-header__desc flex-row flex-items-center">
            <svg t="1592186897091" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="15127" width="18" height="18">
                <path d="M702.64 879.01c-10.11 0-20.23-1.01-30.17-3.03-9.74-1.99-16.03-11.49-14.04-21.23 1.99-9.74 11.49-16.03 21.23-14.04 18.78 3.83 38.37 2.89 56.68-2.7a113.276 113.276 0 0 0 49.4-30.75l8.79-9.37c23.42-24.95 22.18-64.3-2.78-87.72l-73.58-69.07c-12.02-11.29-27.82-17.22-44.43-16.68-16.63 0.53-32.01 7.44-43.29 19.46l-13.64 14.53c-9.81 10.45-17.28 22.55-22.21 35.95a18.01 18.01 0 0 1-27.34 8.46c-29.67-21.12-58.99-46.02-89.62-76.11-63.39-62.25-102.49-141.65-129.47-203.86a17.971 17.971 0 0 1 0.23-14.83c2.2-4.68 6.31-8.19 11.28-9.62 14.62-4.23 28.05-11.27 39.9-20.93l9.96-8.11c26.53-21.61 30.54-60.78 8.93-87.31l-63.73-78.25c-10.41-12.79-25.26-20.76-41.82-22.45-16.55-1.69-32.71 3.11-45.5 13.52l-15.46 12.59c-25.52 20.79-39.78 51.69-39.18 84.88l0.4 4.08c5.74 56.42 22.15 121.62 46.18 183.53 26.82 69.1 60.94 128.45 98.67 171.65 12.22 13.99 28.88 31.14 45.71 47.05 7.22 6.83 7.54 18.22 0.72 25.45-6.83 7.23-18.22 7.54-25.45 0.71-17.63-16.67-35.16-34.72-48.1-49.53-89.71-102.75-142.48-266.57-153.55-375.31l-0.48-4.82c-0.04-0.45-0.07-0.89-0.08-1.34-1.06-44.64 18.05-86.3 52.43-114.3l15.46-12.59c20.24-16.49 45.77-24.09 71.89-21.42 26.12 2.67 49.58 15.29 66.07 35.53l63.73 78.25c34.15 41.93 27.82 103.82-14.11 137.96l-9.96 8.11c-10.28 8.38-21.47 15.26-33.41 20.58C414.17 482 449.56 548.65 502.86 601c23.22 22.81 45.58 42.44 67.86 59.57 5.5-9.64 12.13-18.61 19.83-26.82l13.64-14.53c17.87-19.03 42.16-29.97 68.4-30.8 26.28-0.84 51.18 8.55 70.21 26.42l73.58 69.07c39.42 37.01 41.39 99.19 4.38 138.61l-8.79 9.37a149.334 149.334 0 0 1-65.12 40.54 151.66 151.66 0 0 1-44.21 6.58z"
                      fill="#353535" p-id="15128"></path>
                <path d="M474.44 793.72c-2.85 0-5.75-0.68-8.44-2.12-12.03-6.41-25.78-15.95-40.85-28.37-7.67-6.32-8.77-17.66-2.45-25.34 6.32-7.67 17.66-8.77 25.34-2.45 13.23 10.89 24.97 19.1 34.89 24.38 8.77 4.67 12.1 15.57 7.43 24.35a18.041 18.041 0 0 1-15.92 9.55zM686 878.33c-1.3 0-2.62-0.14-3.95-0.44-36.39-8.15-76.24-21.24-115.23-37.86-9.15-3.9-13.4-14.47-9.5-23.62 3.9-9.15 14.47-13.4 23.62-9.5 37.01 15.77 74.69 28.17 108.98 35.85 9.7 2.17 15.8 11.8 13.63 21.5-1.88 8.38-9.31 14.07-17.55 14.07z"
                      fill="#353535" p-id="15129"></path>
            </svg>
            <span class="ml10"><%= header.telNum %></span>
        </div>
        <div class="resume-header__desc flex-row flex-items-center">
            <svg t="1592186972879" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="22357" width="18" height="18">
                <path d="M204.8 842.6496a108.8 108.8 0 0 1-108.8-108.8V290.1504c0-60.1088 48.6912-108.8 108.8-108.8h614.4c60.1088 0 108.8 48.6912 108.8 108.8v443.6992A108.8 108.8 0 0 1 819.2 842.6496H204.8z m0-64h614.4a44.8 44.8 0 0 0 44.8-44.8V290.1504A44.8 44.8 0 0 0 819.2 245.3504H204.8a44.8 44.8 0 0 0-44.8 44.8v443.6992c0 24.7808 20.0704 44.8 44.8 44.8z"
                      fill="#5A5A68" p-id="22358"></path>
                <path d="M139.5712 387.1744a32 32 0 1 1 28.0576-57.5488l335.9744 163.9936c5.2736 2.56 11.52 2.56 16.7936 0l335.9744-163.9936a32 32 0 1 1 28.0576 57.5488l-335.9232 163.9424c-23.04 11.264-49.9712 11.264-73.0112 0L139.5712 387.1744z"
                      fill="#5A5A68" p-id="22359"></path>
            </svg>
            <span class="ml10"><%= header.email %></span>
        </div>
        <div class="resume-header__desc flex-row flex-items-center">
            <svg t="1592186354781" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="8235" width="18" height="18">
                <path d="M701.6 196.53m-15 0a15 15 0 1 0 30 0 15 15 0 1 0-30 0Z" fill="#E159D3"
                      p-id="8236"></path>
                <path d="M956.29 310.21a482.39 482.39 0 1 0-847.9 452v120.36c0 71.4 58.42 130.76 129.82 130.1a127.79 127.79 0 0 0 100.44-49.85 120.4 120.4 0 0 0 21-103.43c-5.58-21.49-11.71-59-11.71-71.71S354 737.47 359.62 716a120.4 120.4 0 0 0-21-103.43 128.55 128.55 0 0 0-209.75 9.13c-20.91-64.82-25.25-135-11.25-205.6 28.7-144.71 172.14-286.19 317.16-313.27C690.37 55.1 914.24 250.88 914.24 498a402.4 402.4 0 0 1-19.36 123.71 128.55 128.55 0 0 0-209.74-9.13 120.4 120.4 0 0 0-21 103.43c5.58 21.49 11.71 59 11.71 71.71s-6.13 50.22-11.71 71.71a120.4 120.4 0 0 0 21 103.43 127.8 127.8 0 0 0 101.67 49.85 128.59 128.59 0 0 0 128.58-128.62V762.25a483 483 0 0 0 40.9-452z m-767.9 381.87c0-26.24 20.49-48.33 46.71-49.34a48.41 48.41 0 0 1 40.41 18.85 39.94 39.94 0 0 1 6.78 34.34c-5.84 22.48-14.29 68.12-14.29 91.85s8.45 69.37 14.29 91.85a39.94 39.94 0 0 1-6.78 34.37A48.38 48.38 0 0 1 237 932.86a48.64 48.64 0 0 1-48.64-48.64z m647 191.4c0 26.24-20.49 48.33-46.71 49.34a48.41 48.41 0 0 1-40.4-18.82 39.94 39.94 0 0 1-6.78-34.34c5.84-22.48 14.29-68.12 14.29-91.85s-8.45-69.37-14.29-91.85a39.94 39.94 0 0 1 6.78-34.34 48.41 48.41 0 0 1 40.41-18.85c26.22 1 46.71 23.1 46.71 49.34z"
                      fill="#E159D3" p-id="8237"></path>
                <path d="M651.51 154.09a371.39 371.39 0 0 0-419.35 100.28 373.69 373.69 0 0 0-30.07 39.56 15 15 0 1 0 25 16.52A341.48 341.48 0 0 1 512 157a339.17 339.17 0 0 1 128.23 24.93 15 15 0 1 0 11.29-27.79z"
                      fill="#E159D3" p-id="8238"></path>
                <path d="M456.91 668.17c-20.66 1.25-37.52 19.95-37.52 40.65v157.92c0 20.7 16.85 39.4 37.52 40.65a40 40 0 0 0 42.48-39.93V708.1a40 40 0 0 0-42.48-39.93zM563.91 698.12c-20.66 1.25-37.52 19.95-37.52 40.65v98c0 20.7 16.85 39.4 37.52 40.65a40 40 0 0 0 42.48-39.93V738a40 40 0 0 0-42.48-39.88z"
                      fill="#48BCFF" p-id="8239"></path>
            </svg>
            <span class="ml10"><%= header.blog %></span>
        </div>
    </div>
</div>
