<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head'); %>
  </head>
  <body>
    <header id="header">
      <img src="../public/images/avatar.jpg" alt="avatar" id="avatar" />
      <div style="margin-left: 20px">
        <div>
          <h4><%= basics.name %></h4>
          <h6>
            <%= basics.label %> |
            <time
              >年龄: <span><%= basics.age %></span> | 工作经验:
              <span><%= basics.work %></span><br
            /></time>
          </h6>
        </div>
        <h6>
          电话:
          <a href="tel:<%= basics.phone %>" target="_blank"
            ><%= basics.phone %></a
          >
          | 邮箱:
          <a href="mailto:<%= basics.email %>" target="_blank"
            ><%= basics.email %></a
          >
          | 个人主页:
          <a href="<%= basics.url %>" target="_blank"><%= basics.url %></a>
        </h6>
      </div>
    </header>
    <section>
      <header>技术特点</header>
      <main>
        <dl>
          <% skills.forEach(function(skill){ %>
          <dd><%- skill %></dd>
          <% }); %>
        </dl>
      </main>
    </section>
    <section>
      <header>部分项目经历</header>
      <% projects.forEach(function(project){ %>
      <main>
        <dl>
          <dt>
            <span>
              <% if (project.url) { %>
              <a href="<%= project.url %>" target="_blank"
                ><%= project.name %></a
              >
              <% } %> <% if (!project.url) { %> <%= project.name %> <% } %> <%
              if (project.keywords.length > 0) { %> - <%= project.keywords %> <%
              } %>
            </span>
            <time><%= project.startDate %> - <%= project.endDate %></time>
          </dt>
          <% if (project.description) { %>
          <dd>简介：<%= project.description %></dd>
          <% } %> <% project.highlights.forEach(function(highlight){ %>
          <dd><%- highlight %></dd>
          <% }); %>
        </dl>
      </main>
      <% }); %>
    </section>
    <section>
      <header>考研经历</header>
      <% postgraduate.forEach(function(item){ %>
      <main class="space-between">
        <%= item.institution %> - <%= item.studyType %> - <%= item.area %><time
          ><%= item.startDate %> - <%= item.endDate %></time
        >
      </main>
      <% }); %>
    </section>
    <section>
      <header>工作经历</header>
      <% work.forEach(function(item){ %>
      <main>
        <dl>
          <dt>
            <%= item.name %> - <%= item.position %>
            <time> <%= item.startDate %> - <%= item.endDate %></time>
          </dt>
          <% item.highlights.forEach(function(highlight){ %>
          <dd><%= highlight %></dd>
          <% }); %>
        </dl>
      </main>
      <% }); %>
    </section>
    <section>
      <header>教育经历</header>
      <% education.forEach(function(item){ %>
      <main class="space-between">
        <%= item.institution %> - <%= item.studyType %> - <%= item.area %><time
          ><%= item.startDate %> - <%= item.endDate %></time
        >
      </main>
      <% }); %>
    </section>
    <%- include('./includes/footer'); %>
    <script src="./index.js"></script>
  </body>
</html>
