<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简历</title>
    <link href="<%= require('./css/flex.css') %>" media="not print" rel="stylesheet" type="text/css"/>
    <link href="<%= require('./css/base.css') %>" media="not print" rel="stylesheet" type="text/css"/>
</head>
<body>
<% var tech = {
    title: '精通前端，涉猎后端',
    desc: '编织有艺术感的代码',
    list: ['负责协助工程师完成数据安全产品的开发、问题解决；根据项目具体要求，承担开发任务，按计划完成任务目标；完成领导交办的其他工作。',
        '负责协助工程师完成数据安全产品的开发、问题解决；根据项目具体要求，承担开发任务，按计划完成任务目标；完成领导交办的其他工作。',
        '负责协助工程师完成数据安全产品的开发、问题解决；根据项目具体要求，承担开发任务，按计划完成任务目标；完成领导交办的其他工作。',
        '负责协助工程师完成数据安全产品的开发、问题解决；根据项目具体要求，承担开发任务，按计划完成任务目标；完成领导交办的其他工作。']
} %>
<% var projects = {
    title: '丰富的项目经验',
    desc: '业余项目与公司项目相得益彰',
    list: [{
        title: '锦鲤多多',
        desc: '2018.12-至今',
        content: '负责协助工程师完成数据安全产品的开发、问题解决；根据项目具体要求，承担开发任务，按计划完成任务目标；完成领导交办的其他工作。'
    }, {
        title: '知晓理工',
        desc: '2018.12-至今',
        content: '负责协助工程师完成数据安全产品的开发、问题解决；根据项目具体要求，承担开发任务，按计划完成任务目标；完成领导交办的其他工作。'
    }]
} %>
<% var works = {
    title: '3 年工作经验',
    desc: '曾在知名互联网公司任职',
    list: [{
        title: '锦鲤多多',
        desc: '2018.12-至今',
        content: '负责协助工程师完成数据安全产品的开发、问题解决；根据项目具体要求，承担开发任务，按计划完成任务目标；完成领导交办的其他工作。'
    }, {
        title: '知晓理工',
        desc: '2018.12-至今',
        content: '负责协助工程师完成数据安全产品的开发、问题解决；根据项目具体要求，承担开发任务，按计划完成任务目标；完成领导交办的其他工作。'
    }]
} %>
<div id="resume">
    <!-- 头部区域 -->
    <div class="resume__header">
        <div class="flex-row flex-content-between flex-items-end">
            <div class="flex-row flex-items-end">
                <div class="resume__header-name">宋兴国</div>
                <div class="resume__header-desc ml20">前端开发工程师</div>
            </div>
            <div class="resume__header-desc">毕业于<span>重庆理工大学</span></div>
        </div>
        <div class="flex-row flex-content-between flex-items-end mt50">
            <div class="flex-row flex-items-end">
                <div class="resume__header-desc">
                    <img src="<%= require('./imgs/QR-code.png') %>" alt="手机" width="10" height="10">
                    <span>18983642737</span>
                </div>
                <div class="resume__header-desc ml30">
                    <img src="<%= require('./imgs/QR-code.png') %>" alt="邮箱" width="10" height="10">
                    <span>xg.song@qq.com</span>
                </div>
            </div>
            <div class="resume__header-desc">
                <span>个人博客（www.songxingguo.com）</span>
            </div>
        </div>
    </div>
    <!-- 内容区域 -->
    <div class="resume__content mt100 mb100">
        <!-- 技术掌握 -->
        <div class="resume__item">
            <div class="flex-row flex-items-center">
                <div class="resume__item-title"><%= tech.title %></div>
                <div class="resume__item-desc ml50"><%= tech.desc %></div>
            </div>
            <div class="resume__item__body mt50">
                <!--<ul class="resume__item-text list-style">-->
                <!--    <% tech.list.forEach(function (item)  { %>-->
                <!--        <li><%= item %></li>-->
                <!--    <% }) %>-->
                <!--</ul>-->
                <ul>
                    <% tech.list.forEach(function (item)  { %>
                        <li class="tech__item flex-row flex-items-center" style="width: 20%;">
                            JavaScript
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <!-- 项目经验 -->
        <div class="resume__item">
            <div class="flex-row flex-items-center">
                <div class="resume__item-title"><%= projects.title %></div>
                <div class="resume__item-desc ml50"><%= projects.desc %></div>
            </div>
            <div class="mt50">
                <% projects.list.forEach(function (item)  { %>
                    <div class="project__item">
                        <div class="flex-row flex-content-between flex-items-center">
                            <div class="project__item-title"><%= item.title %></div>
                            <div class="project__item-desc"><%= item.desc %></div>
                        </div>
                        <ul class="resume__item-text list-style mt50">
                            <%= item.content %>
                        </ul>
                    </div>
                <% }) %>
            </div>
        </div>
        <!-- 工作经验 -->
        <div class="resume__item">
            <div class="flex-row flex-items-center">
                <div class="resume__item-title"><%= works.title %></div>
                <div class="resume__item-desc ml50"><%= works.desc %></div>
            </div>
            <div class="work-container mt50">
                <% works.list.forEach(function (item)  { %>
                    <div class="work__item-date flex-row flex-items-center">
                        <div class="work__item-dot"></div>
                        <span class="ml15">2017/06</span>
                    </div>
                    <div class="work__item flex-row flex-content-between">
                        <div class="flex-column">
                            <div class="flex-row flex-items-center">
                                <div class="work__item-title"><%= item.title %>—</div>
                                <div class="work__item-desc ml5"><%= item.desc %></div>
                            </div>
                            <ul class="resume__item-text list-style mt50">
                                <%= item.content %>
                            </ul>
                        </div>
                        <div class="ml100">
                            <img src="<%= require("./imgs/QR-code.png") %>" alt="二维码" width="50" height="50">
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <!-- 底部区域 -->
    <div class="resume__footer flex-row flex-content-between flex-items-center">
        <div class="resume__footer-desc flex-row flex-items-center">
            <img src="<%= require("./imgs/QR-code.png") %>" alt="二维码" width="50" height="50">
            <span class="ml20">您还可以扫码<br/>查看完整版简历</span>
        </div>
        <div class="resume__footer-desc flex-column flex-content-center flex-items-end">
            <div>最后更新于2018年9月23日</div>
            <div>感谢您的阅读，相信这是难得的相遇</div>
        </div>
    </div>
</div>
</body>
</html>
