<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简历</title>
    <link href="<%= require('./css/flex.css') %>" rel="stylesheet" type="text/css"/>
    <link href="<%= require('./css/base.css') %>" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        <%- require('!!raw-loader!babel-loader!../node_modules/lib-flexible/flexible.js') -%>
    </script>
    <% for (var css in htmlWebpackPlugin.files.extracted.css) { %>
        <link href="<%= htmlWebpackPlugin.files.extracted.css[css].file %>"
              media="<%= htmlWebpackPlugin.files.extracted.css[css].query %>" rel="stylesheet">
    <% } %>
</head>
<body>
<% const {
    header,
    edu,
    tech,
    projects,
    works,
    footer
} = require('./data.js') %>
<div id="resume">
    <div class="resume__header">
        <%- require('./header.ejs')({header}) -%>
    </div>
    <!-- 内容区域 -->
    <div class="resume__content">
        <!-- 技术掌握 -->
        <div class="resume__item">
            <%- require('./tech.ejs')({tech}) -%>
        </div>
        <!-- 教育经历 -->
        <div class="resume__item">
            <%- require('./edu.ejs')({edu}) -%>
        </div>
        <!-- 工作经验 -->
        <div class="resume__item">
            <%- require('./works.ejs')({works}) -%>
        </div>
        <!-- 项目经验 -->
        <div class="resume__item">
            <%- require('./projects.ejs')({projects}) -%>
        </div>
    </div>
    <!-- 底部区域 -->
    <div class="resume__footer flex-row flex-content-between flex-items-center">
        <%- require('./footer.ejs')({footer}) -%>
    </div>
</div>
</body>
</html>
