<%- require('./layout/header.ejs')({item: projects}) -%>
<div class="project-container">
    <% projects.list.forEach(function (item)  { %>
        <div class="project-item flex-row flex-wrap">
            <!-- 桌面设备 -->
            <div class="project-item-left flex-full not-for-print not-for-mb">
                <div class="flex-row flex-content-between flex-items-center">
                    <div class="project-item__title"><%= item.name %></div>
                    <div class="project-item__desc"><%= item.desc %></div>
                </div>
                <div class="flex-row mt5 not-for-print">
                    <% item.tagList.forEach(function (tag) { %>
                        <div class="tech-item__label flex-row flex-all-center <%= tag.style %>"><%= tag.name %></div>
                    <% }) %>
                </div>
                <ul class="resume-item__text list-style mt10">
                    <%= item.content %>
                </ul>
                <% if (item.link) { %>
                    <div class="flex-row flex-content-end mt30 not-for-print">
                        <% if (item.link.url) { %>
                            <a href="<%= item.link.url %>" class="resume__link"><%= item.link.name %></a>
                        <% } %>
                        <% if (item.link.imgUrl) { %>
                            <img src="<%= item.link.imgUrl %>" alt="<%= item.link.name %>">
                        <% } %>
                    </div>
                <% } %>
            </div>
            <!-- 移动设备/打印设备 -->
            <div class="project-item-left not-for-pc">
                <div class="flex-row flex-content-between flex-items-center">
                    <div class="project-item__title"><%= item.name %></div>
                    <div class="project-item__desc"><%= item.desc %></div>
                </div>
                <div class="flex-row mt5 not-for-print">
                    <% item.tagList.forEach(function (tag) { %>
                        <div class="tech-item__label flex-row flex-all-center <%= tag.style %>"><%= tag.name %></div>
                    <% }) %>
                </div>
                <ul class="resume-item__text list-style mt10">
                    <%= item.content %>
                </ul>
                <% if (item.link) { %>
                    <div class="flex-row flex-content-end mt30 not-for-print">
                        <% if (item.link.url) { %>
                            <a href="<%= item.link.url %>" class="resume__link"><%= item.link.name %></a>
                        <% } %>
                        <% if (item.link.imgUrl) { %>
                            <img src="<%= item.link.imgUrl %>" alt="<%= item.link.name %>">
                        <% } %>
                    </div>
                <% } %>
            </div>
            <% if (item.imgUrls) { %>
                <% item.imgUrls.forEach(function (url)  { %>
                    <div class="project-item__img not-for-print">
                        <img src="<%= url %>" alt="<%= item.name %>">
                    </div>
                <% }) %>
            <% } %>
        </div>
    <% }) %>
</div>
