<%- require('./layout/header.ejs')({item: projects}) -%>
<div class="project-container">
    <% projects.list.forEach(function (item)  { %>
        <div class="project__item flex-row flex-content-between flex-wrap">
            <div class="project__item__left">
                <div class="flex-row flex-content-between flex-items-center">
                    <div class="project__item-title"><%= item.title %></div>
                    <div class="project__item-desc"><%= item.desc %></div>
                </div>
                <div class="flex-row mt5 not-for-print">
                    <div class="tech-label flex-row flex-all-center">HTML5</div>
                    <div class="tech-label flex-row flex-all-center">HTML5</div>
                    <div class="tech-label flex-row flex-all-center">HTML5</div>
                </div>
                <ul class="resume__item-text list-style mt10">
                    <%= item.content %>
                </ul>
                <div class="flex-row flex-content-end mt30 not-for-print">
                    <a href="https://www.songxingguo.com/" class="resume-link">项目地址</a>
                </div>
            </div>
            <div class="not-for-print">
                <img src="<%= require("./imgs/cqut.jpg") %>" alt="知晓理工">
            </div>
        </div>
    <% }) %>
</div>
