<%- require('./layout/header.ejs')({item: tech}) -%>
<div class="resume-item__body mt20">
    <ul class="not-for-print not-for-mb">
        <% tech.list.forEach(function (item)  { %>
            <li class="tech-item flex-row flex-items-center <%= item.style %>" style="width: <%= item.grade %>;>"
                data-title="<%= item.desc %>">
                <%= item.name %>
            </li>
        <% }) %>
    </ul>
    <ul class="resume-item__text list-style not-for-pc">
        <% tech.descList.forEach(function (item)  { %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</div>
