<%- require('./layout/header.ejs')({item: works}) -%>
<div class="work-container">
    <% works.list.forEach(function (item)  { %>
        <div class="work-item">
            <% if (item.date) { %>
                <div class="work-item__date flex-row flex-items-center">
                    <div class="work-item__dot"></div>
                    <span class="ml15"><%= item.date.start %></span>
                </div>
            <% } %>
            <div class="flex-row not-for-print">
                <% if (item.logoUrl) { %>
                    <div class="flex-row ml10">
                        <img src="<%= item.logoUrl %>" alt="<%= item.name %>">
                    </div>
                <% } %>
                <div class="flex-column ml10">
                    <div class="flex-row flex-items-center">
                        <div class="work-item__title"><%= item.name %></div>
                        <div class="work-item__desc ml5">—<%= item.desc %></div>
                    </div>
                    <% if (item.cName) { %>
                        <div class="resume-item__text mt10">
                            <%- require('./layout/content.ejs')({cName: item.cName}) -%>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="flex-row flex-content-between  not-for-pc not-for-mb">
                <div class="flex-column">
                    <div class="flex-row flex-items-center">
                        <div class="work-item__title"><%= item.name %></div>
                        <div class="work-item__desc ml5">—<%= item.desc %></div>
                    </div>
                    <% if (item.cName) { %>
                        <div class="resume-item__text mt10">
                            <%- require('./layout/content.ejs')({cName: item.cName}) -%>
                        </div>
                    <% } %>
                </div>
                <% if (item.logoUrl) { %>
                    <div class="ml100">
                        <img src="<%= item.logoUrl %>" alt="<%= item.name %>">
                    </div>
                <% } %>
            </div>
        </div>
    <% }) %>
</div>
